<div class="container my-4">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          My Cart({{products.length}})
        </div>
        <div class="card-body">
          <div class="text-center" *ngIf="products.length <= 0">
            <img src="assets/emptycart.png" alt="cart empty" style="width:90%;height:350px;"  />
            <h4>Your Cart is empty.</h4>
            <small class="text-muted">Start shopping your faviourite fashion.</small>
          </div>
          <div class="row" *ngFor="let product of products" style="border-bottom:1px solid silver;padding-top:5px;">
            <div class="col-5 col-lg-4">
              <img [src]="product.image" [alt]="product.name" style="height:200px;width:100%;" />
            </div>
            <div class="col-7 col-lg-8">
              <h5>{{product.name}}</h5>
              <small class="text-muted">{{product.brand}}</small>
              <h4><i class="fas fa-rupee-sign"></i>{{product.price}}</h4>
              <span style="color:#00a8ff;cursor:pointer;" (click)="removeItemFormCart(product)">Remove</span>
              <span class="ml-3" style="color:#00a8ff;cursor:pointer;">Save for later</span>
            </div>
          </div>
        </div>
        <div class='card-footer'>
          <button class="btn btn-info" *ngIf="products.length > 0" (click)="placeOrder()">Place Order</button>
          <a class="btn btn-outline-dark" routerLink="/products" *ngIf="products.length <= 0"><i class="fas fa-angle-left"></i> Continue Shopping</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h2>Total</h2>
        </div>
        <div class="card-body">
          <div class='row'>
            <div class="col-9">
                Price({{products.length}} item)
            </div>
            <div class="col-3">
                <div *ngFor="let product of products">
                    {{  product.price }}
                </div>
            </div>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
