.signup{
    min-height:91vh;
    height:auto;
    width:100%;
    background:linear-gradient(#4bcffa,#81ecec,#9AECDB);
}
.signup-card{
    width:50%;
    position:relative;
    left:50%;
    transform:translate(-50%,10%);
}

@media(max-width:500px){
    .signup-card{
        width:85%;
        transform:translate(-50%,0%);
    }
}