<div class="signup">
  <div class="signup-card">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1 class="display-3">Sign up</h1>
        <i class="fas fa-sign-in-alt" style="font-size:180px;"></i>
      </div>
      <div class="col-12 col-lg-6">
        <form>
          <div class="form-group col-auto">
            <label>Profile</label>
            <input type="file" name="userImage" (change)="onFileSelect($event)"/>
          </div>
          <div class="form-group col-auto">
            <label>Full Name</label>
            <input type="text" placeholder="ex. Jhon Doe" class="form-control" name="name" [(ngModel)] ="data.name" />
          </div>
          <div class="form-group col-auto">
            <label>Address</label>
            <textarea placeholder="ex. 201, Ganga Sagar Scheme, Vaishali Nagar, Jaipur, Rajasthan-302021" class="form-control" name="address" [(ngModel)] ="data.address"></textarea>
          </div>
          <div class="form-group col-auto">
            <label>Email</label>
            <input type="email" placeholder="ex. JhonDoe@gmail.com" class="form-control" name="email" [(ngModel)] ="data.email" />
          </div>
          <div class="form-group col-auto">
            <label>Password</label>
            <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)] ="data.password" />
          </div>
          <div class="form-group col-auto">
            <input type="button" class="btn btn-primary btn-block" (click)="signupUser()" value="Signup" />
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>
