/* You can add global styles to this file, and also import other style files */
label{
    font-size:20px;
    font-weight:500;
}
body{
    background:#dfe4ea;
}
.row{
    margin:0px;
    padding:0px;
}